<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>西藏援藏系统</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css" type="text/css" media="all">
        <script type="text/javascript" charset="utf-8" src="../../static/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="../../static/ueditor/ueditor.all.js"></script>
        <script type="text/javascript" charset="utf-8" src="../../static/ueditor/lang/zh-cn/zh-cn.js"></script>
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div th:replace="common/bar::topbar"></div>
            <div th:replace="common/bar::sidebar"></div>

            <div class="layui-body">
                <form class="layui-form" th:action="@{/workState}" method="post">
                    <input name="userid" th:value="${session.userId}" type="hidden">
                    <div class="layui-form-item" style=" margin:10px;">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入动态名称"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" >
                        <label class="layui-form-label">动态内容</label>
                        <div class="layui-input-inline" style="width:900px;">
                            <script type="text/plain" id="info" name="content"></script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo" type="submit">立即提交</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © CDTU
            </div>
        </div>
        <script src="../../static/layui/layui.js"></script>
        <script src="../../static/jquery/jquery-3.3.1.min.js"></script>
        <script>
            var info = UE.getEditor("info")
        </script>
        <script>
            layui.use(["layer", "form", "upload", "jquery", "element"], function () {
                // 注意：为了动态显示进度条，必须加载element组件
            });
        </script>
    </body>
</html>
