<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <base href="<%=basePath %>">
        <meta charset="UTF-8">
        <title>西藏援藏系统</title>
        <link rel="stylesheet" href="../../static/index/css/aidTibetJob.css">
        <link rel="stylesheet" href="../../static/index/css/public.css">
    </head>
    <body>
        <!--页头-->
        <header>
            <div class="content">
                <!--logo-->
                <img src="../../static/index/image/logo.png" alt="" class="logo">
                <!--导航-->
                <ul class="navLink">
                    <li><a href="/indexShowPage">首页</a></li>
                    <li><a href="/indexShowPage">援藏工作</a></li>
                    <li><a href="/showPolicyPage">援藏政策</a></li>
                    <li><a href="/showNeedPage">援藏需求</a></li>
                    <li><a href="/showRoadPage">援藏路径</a></li>
                    <li><a href="/showSchoolPage">援藏高校</a></li>
                    <li><a href="/showWorkStatePage">工作动态</a></li>
                    <li><a href="/showRecruitPage">人员招聘</a></li>
                </ul>
                <!--登陆-->
                <a href="/toLogin" class="login">登陆</a>
            </div>
        </header>
        <!--内容-->
        <div class="banner content">
            <img src="../../static/index/image/twoPage_03.png" alt="">
        </div>
<!--        文本-->
        <div class="content">
            <div class="inForBox">
                <div class="inForBox01">
                    <ul class="pageMain">
                        <li>
                            <a href="#">
                                <span>测试标题</span>
                                <span>2018-04-20 08:00:00</span>
                            </a>
                        </li>
                    </ul>
                    <div class="pageBox">
                        <p class="len">共 <span>10</span>条记录</p>
                        <p class="iNum">当前第 <span>1/2</span> 页</p>

                        <a href='#' class="first">首页</a>
                        <a href='#' class="prev">上一页</a>
                        <a href='#' class="next">下一页</a>
                        <a href='#' class="last">尾页</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>