<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>layout 后台大布局 - Layui</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css" type="text/css" media="all">
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div th:replace="common/bar::topbar"></div>
            <div th:replace="common/bar::sidebar"></div>

            <div class="layui-body">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">管理员名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">管理员密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="telephone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">qq</label>
                            <div class="layui-input-inline">
                                <input type="text" name="qq"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属学校</label>
                        <div class="layui-input-inline">
                            <select   name="schoolId" lay-filter="aihao">
                                <option th:each="school:${schools}" th:value="${school.id}" th:text="${school.id}"></option>
                            </select>
                        </div>
                    </div>
                     <div class="layui-form-item">
                        <label class="layui-form-label">单选框</label>
                        <div class="layui-input-block">
                            <input type="radio" name="level" value="1" title="超级管理员">
                            <input type="radio" name="level" value="2" title="管理员" checked>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © layui.com - 底部固定区域
            </div>
        </div>
        <script src="../../static/layui/layui.js"></script>
        <script src="../../static/jquery/jquery-3.3.1.min.js"></script>

        <script>
            //Demo
            layui.use('form', function(){
                var form = layui.form;

                //监听提交
                form.on('submit(formDemo)', function(data){
                    layer.msg(JSON.stringify(data.field));
                    return false;
                });
            });
        </script>

        <script>
            layui.use(["layer", "form", "upload", "jquery", "element"], function () {
                // 注意：为了动态显示进度条，必须加载element组件
                var layer = layui.layer, upload = layui.upload, $ = layui.jquery, element = layui.element;
                upload.render({
                    accept: "file",
                    elem: "#addFile",
                    exts: 'pdf|dox', //只允许上传pdf文件
                    auto: false,   //关闭文件自动上传
                    bindAction: "#upload", //文件上传触发按钮
                    url: "upload",
                    done: function (res, index, upload) {
                        if (res.code != 200) {
                            layer.open({
                                icon: 2,
                                skin: "layui-layer-molv",
                                content: res.msg
                            });
                        }
                        location.reload();
                    },
                    error: function (res) {

                    }
                });

            });
        </script>
    </body>
</html>
