<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--<classPathEntry location="E:\development_jar\maven_repository\mysql\mysql-connector-java\5.1.47\mysql-connector-java-5.1.47.jar" />-->

    <context id="DB2Tables" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://cdb-noaixie8.cd.tencentcdb.com:10021/supporttibet?serverTimezone=UTC&amp;useSSL=true"
                        userId="root"
                        password="abc123456">
            <property name="useInformationSchema" value="true"/>
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.cdtu.support.pojo" targetProject="src\main\java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.cdtu.support.mapper" targetProject="src\main\resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.cdtu.support.mapper" targetProject="src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--<table tableName="Person" domainObjectName="Person"/>-->
        <!--<table tableName="school" domainObjectName="School"/>-->
        <!--<table tableName="user" domainObjectName="user"/>-->
        <!--<table tableName="needinfo" domainObjectName="NeedInfo"/>-->
        <!--<table tableName="needjoin" domainObjectName="NeedJoin"/>-->
        <!--<table tableName="policy" domainObjectName="Policy"/>-->
        <!--<table tableName="recruitinfo" domainObjectName="RecruitInfo"/>-->
        <!--<table tableName="road" domainObjectName="Road"/>-->
        <!--<table tableName="workstate" domainObjectName="WorkState"/>-->
        <table tableName="role" domainObjectName="Role"/>
        <!--<table tableName="permission" domainObjectName="Permission"/>-->
        <!--<table tableName="role_permission" domainObjectName="RolePermission"/>-->

    </context>
</generatorConfiguration>
