<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" type="text/css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="common/bar::topbar"></div>
    <div th:replace="common/bar::sidebar"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <form class="layui-form" th:action="@{/recruit(pageSize=${pageSize},pageNum=${pageNum})}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="id" th:value="${recruitInfo.id}">

            <div class="layui-form-item">
                <label class="layui-form-label">招聘标题</label>
                <div class="layui-input-block">
                    <input type="text" name="name" th:value="${recruitInfo.name}" required  lay-verify="required"  autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">招聘内容</label>
                <div class="layui-input-block">
                    <textarea name="content" th:value="${recruitInfo.content}" th:text="${recruitInfo.content}" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <!--lay-submit lay-filter="formDemo"-->
                    <button type="submit" class="layui-btn" >更新</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/jquery/jquery-3.3.1.min.js"></script>

<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>
