<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" type="text/css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="common/bar::topbar"></div>
    <div th:replace="common/bar::sidebar"></div>
    <div class="layui-body">

        <form th:action="@{/school/queryByName}" class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">高校名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="schoolName" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <button type="submit" class="layui-btn layui-btn-normal">查询</button>
                <a th:href="@{/school/toAddPage}" class="layui-btn layui-btn-normal">新增</a>
            </div>
        </form>
        <table class="layui-table">
            <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>城市</th>
                <th>信息</th>
                <th>isGo</th>
                <th>isNeed</th>
                <th>历史</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="school : ${schools}">
                <td th:text="${school.id}"></td>
                <td th:text="${school.schoolname}"></td>
                <td th:text="${school.city}"></td>
                <td th:text="${school.info}"></td>
                <td th:text="${school.isgo}"></td>
                <td th:text="${school.isneed}"></td>
                <td th:text="${school.history}"></td>
                <td th:text="${school.createtime}"></td>
                <td>
                    <a class="layui-btn" th:href="@{/school/toUpdatePage(id=${school.id},pageNum=${currentPage},pageSize=${pageSize})}">编辑</a>
                    <button th:attr="del_uri=@{/school(id=${school.id},pageNum=${currentPage},pageSize=${pageSize})}"
                            class="layui-btn layui-btn-danger deleteBtn">删除
                    </button>
                    <a class="layui-btn" th:href="@{/school/toUpdatePage(id=${school.id},,pageNum=${currentPage},pageSize=${pageSize})}">查看</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul>
                <li class="layui-btn ">
                    <a th:href="@{/school/list(pageNum=1,pageSize=${pageSize})}">首页</a>
                </li>
                <li class="layui-btn" th:if="${currentPage} gt -1">
                    <a th:href="@{/school/list(pageNum=(${currentPage}-1),pageSize=${pageSize})}">上一页</a>
                </li>
                <li class="layui-btn" th:if="${currentPage} lt 1">
                    <a th:href="@{/school/list(pageNum=1, pageSize=${pageSize})}">上一页</a>
                </li>
                <li class="layui-btn" th:if="${currentPage} lt ${pages}">
                    <a th:href="@{/school/list(pageNum=(${currentPage}+1),pageSize=${pageSize})}">下一页</a>
                </li>
                <li class="layui-btn" th:if="${currentPage} ge ${pages}">
                    <a th:href="@{/school/list(pageNum=${pages}, pageSize=${pageSize})}">下一页</a>
                </li>
                <li class="layui-btn">
                    <a th:href="@{/school/list(pageNum=${pages}, pageSize=${pageSize})}">末页</a>
                </li>
            </ul>

        </nav>

        <form id="deleteSchoolForm" method="post">
            <input type="hidden" name="_method" value="delete">
        </form>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/jquery/jquery-3.3.1.min.js"></script>
<script th:inline="none">
    $(".deleteBtn").click(function () {
        $("#deleteSchoolForm").attr("action", $(this).attr("del_uri")).submit();
        return false;
    });

</script>
</body>
</html>
