<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>西藏援藏系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" type="text/css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="common/bar::topbar"></div>
    <div th:replace="common/bar::sidebar"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <form class="layui-form" th:action="@{/school(pageNum=${pageNum},pageSize=${pageSize})}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="id" th:value="${school.id}">

            <div class="layui-form-item">
                <label class="layui-form-label">高校名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="schoolname" th:value="${school.schoolname}" required  lay-verify="required"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">城市</label>
                <div class="layui-input-inline">
                    <select name="city" lay-verify="required">
                        <option value=""></option>
                        <option value="北京" th:selected="${school.city=='北京'}">北京</option>
                        <option value="上海" th:selected="${school.city=='上海'}">上海</option>
                        <option value="广州" th:selected="${school.city=='广州'}">广州</option>
                        <option value="深圳" th:selected="${school.city=='深圳'}">深圳</option>
                        <option value="杭州" th:selected="${school.city=='杭州'}">杭州</option>
                        <option value="成都" th:selected="${school.city=='成都'}">成都</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">高校简介</label>
                <div class="layui-input-inline">
                    <textarea name="info" th:value="${school.info}" th:text="${school.info}" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">愿意支援</label>
                <div class="layui-input-inline">
                    <input type="radio" name="isgo" value="yes" title="是" th:checked="${school.isgo=='yes'}">
                    <input type="radio" name="isgo" value="no" title="否" th:checked="${school.isgo=='no'}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">需要支援</label>
                <div class="layui-input-inline">
                    <input type="radio" name="isneed" value="yes" title="是" th:checked="${school.isneed=='yes'}">
                    <input type="radio" name="isneed" value="no" title="否" th:checked="${school.isneed=='no'}">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">高校历史</label>
                <div class="layui-input-inline">
                    <textarea name="history" th:value="${school.history}" th:text="${school.history}" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <!--lay-submit lay-filter="formDemo"-->
                    <button type="submit" class="layui-btn" >更新</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © CDTU
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/jquery/jquery-3.3.1.min.js"></script>

<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>
